# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python virtual environment
backend/env/
venv/
ENV/
env/
envv/
*.pyc
__pycache__/

# Python distribution/packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# additional files
/backend/db.sqlite3
/backend/media/
/backend/dubbing/test_script.py
# /backend/dubbing/check_tts.py
/backend/dubbing/models/base.py/
backend/dubbing/models/


# wav2lip
*.pkl
*.jpg
*.mp4
*.pth
*.pyc
__pycache__
*.h5
*.avi
*.wav
filelists/*.txt
evaluation/test_filelists/lr*.txt
*.pyc
*.mkv
*.gif
*.webm
*.mp3